.App {
  text-align: center;
  font-family: Brush Script MT;
  line-height: 2em;
  letter-spacing: 0.1em;
  color: palevioletred;
  align-content: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60px;
  fill: pink;
  filter: invert(42%) sepia(93%) saturate(352%) hue-rotate(-70deg)
    brightness(119%) contrast(119%);
  //display: none;
  text-align: center;
}


.App-intro {
  font-size: large;
}

.btn-big{
  background: transparent;
  border-radius: 15px;
  border: 2.5px solid pink;
  color: palevioletred;
  margin: 1em 1em;
  padding: 0.5em 2.25em;
  max-width: 500px;
  text-align: center;
  font-size: 25px;
}

.btn {
  background: transparent;
  border-radius: 0px;
  border: 2.25px solid pink;
  color: palevioletred;
  margin: 0.5em 1em;
  padding: 0.8em 3em;
  max-width: 250px;
  text-align: center ;
  font-family: Georgia, Brush Script MT;
  font-size: 16px;
  letter-spacing: 0.03em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
