.App {
  text-align: center;
  font-family: Brush Script MT;
  line-height: 2em;
  letter-spacing: 0.1em;
  color: palevioletred;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  fill: pink;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(-50deg)
    brightness(119%) contrast(119%);
  display: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.btn {
  background: transparent;
  border-radius: 3px;
  border: 2px solid pink;
  color: palevioletred;
  margin: 1em 1em;
  padding: 0.3em 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
